<div class="panel-decodificaciones">
    <div class="panel-titulo">Decodificaciones</div>
    <div class="tabla-decodificaciones-scroll" id="tabla-decodificaciones-scroll">
        <table class="tabla-decodificaciones" id="tabla-decodificaciones">
            <thead>
                <tr>
                    <th>UTC</th>
                    <th>dB</th>
                    <th>DT</th>
                    <th>Freq</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody id="tbody-decodificaciones">
                <!-- Se llena dinamicamente via SignalR -->
            </tbody>
        </table>
    </div>
</div>
