<div class="panel-tx">
    <div class="panel-titulo">@L["Panel_Transmision"]</div>

    <div class="tx-botones">
        <button class="btn-tx" id="btn-tx1" data-tx="1">
            <span class="tx-num">Tx1</span>
            <span class="tx-texto" id="tx1-texto">CQ EA1ABC JM28</span>
        </button>
        <button class="btn-tx" id="btn-tx2" data-tx="2">
            <span class="tx-num">Tx2</span>
            <span class="tx-texto" id="tx2-texto">... EA1ABC -18</span>
        </button>
        <button class="btn-tx" id="btn-tx3" data-tx="3">
            <span class="tx-num">Tx3</span>
            <span class="tx-texto" id="tx3-texto">... EA1ABC R-20</span>
        </button>
        <button class="btn-tx" id="btn-tx4" data-tx="4">
            <span class="tx-num">Tx4</span>
            <span class="tx-texto" id="tx4-texto">... EA1ABC RRR</span>
        </button>
        <button class="btn-tx" id="btn-tx5" data-tx="5">
            <span class="tx-num">Tx5</span>
            <span class="tx-texto" id="tx5-texto">... EA1ABC 73</span>
        </button>
        <button class="btn-tx" id="btn-tx6" data-tx="6">
            <span class="tx-num">Tx6</span>
            <input type="text" class="tx-libre" id="tx6-input" placeholder="@L["TX_TextoLibre"]" maxlength="13" />
        </button>
    </div>

    <div class="tx-frecuencia">
        <label>@L["TX_FrecTx"]</label>
        <input type="number" id="tx-frecuencia" value="1500" min="200" max="4900" step="1" class="input-tx-freq" />
        <span>Hz</span>
    </div>
</div>
