@{
    ViewData["Title"] = "Contest";
}

<div class="pagina-panel">
    <div class="pagina-panel-header">
        <h2>Operacion en Contest</h2>
    </div>
    <div class="pagina-panel-body">
        <partial name="~/Views/Paneles/_Contest.cshtml" />
    </div>
</div>

@section Scripts {
    <script src="~/js/contest.js"></script>
}
