@{
    ViewData["Title"] = "DXCC";
}

<div class="pagina-panel">
    <div class="pagina-panel-header">
        <h2>DXCC Tracking</h2>
    </div>
    <div class="pagina-panel-body">
        <partial name="~/Views/Paneles/_Dxcc.cshtml" />
    </div>
</div>

@section Estilos {
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
}

@section Scripts {
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/js/dxcc.js"></script>
}
