@{
    ViewData["Title"] = L["Titulo_DxCluster"].Value;
}

<div class="pagina-panel">
    <div class="pagina-panel-header">
        <h2>@L["Titulo_DxCluster"]</h2>
    </div>
    <div class="pagina-panel-body">
        <partial name="~/Views/Paneles/_DxCluster.cshtml" />
    </div>
</div>

@section Scripts {
    <script src="~/js/dxcluster.js"></script>
}
