@{
    ViewData["Title"] = "Logbook";
}

<div class="pagina-panel">
    <div class="pagina-panel-header">
        <h2>Logbook</h2>
    </div>
    <div class="pagina-panel-body">
        <partial name="~/Views/Paneles/_Logbook.cshtml" />
    </div>
</div>

@section Scripts {
    <script src="~/js/logbook.js"></script>
}
