@{
    ViewData["Title"] = "Satelites";
}

<div class="pagina-panel">
    <div class="pagina-panel-header">
        <h2>Seguimiento de Satelites</h2>
    </div>
    <div class="pagina-panel-body">
        <partial name="~/Views/Paneles/_Satelites.cshtml" />
    </div>
</div>

@section Scripts {
    <script src="~/js/satelites.js"></script>
}
